body {
    background-color: #e6e6e6;
}
/*Navigation bar*/
nav {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F59502;
}
li {
    float: right;
}
.active {
    background-color: #DD8601;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.80vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FF5D00;
}

main{
	text-align: center;
}
img {
	width: 15vw;
	height: 15vw;
}
div section {
	margin-top: 5vw;
	margin-bottom: 5vw;
}
/*Removing the underline of text*/
a {
	overflow: hidden;
	text-decoration: none;
}
/* Code for 2 column section that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 10%;
}
img {
    height: 5vw;
    width: 5vw;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width:600px) {
    .column {
    width: 100%;
    }
}

section.motto {
    width:50vw;
    margin:auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*Setting the footer in the middle of the bottom*/
footer{
    position: fixed;
    padding-top: 0.5px;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both; 
    margin-top: 5vw;
    text-align: center;
    background:#F59502;
}
footer p{
	font-size: 1.5vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
}