body {
    background-color: #e6e6e6;
}
header {
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
}
div header {
	overflow: hidden;
    background-color: #F59502;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}
.collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }
.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\21F2'; /* Unicode character for South East Arrow To Corner*/
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\21F1"; /* Unicode character for North West Arrow To Corner */
}
/*Setting the footer in the middle of the bottom*/
footer {
    padding:5px;
    bottom: 0;
    left: 0;
    right: 0;
    clear:both; 
    text-align: center;
    background:#F59502;
    position: relative;
} 
footer p{
    font-size: 1.5vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
}